
    <% include partials/header %>
        <section>
            <!-- Modal for starting report -->
            <div class="container">
                <div class="modal animated slideInUp" id="modal-report">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog modal-lg vertical-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                    <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                                </div>
                                <div class="modal-body row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2 modal-desc">
                                        <span class="modal-text">Report</span>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-8">
                                        <img src="<%= image %>" alt="student picture">
                                        <div style="padding: 10px; font-size: 20px">
                                            <%= name %>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="" class="btn btn-primary btn-report-next">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" name="createreport" id="createreport" method="POST">
                <!-- Modal to enter vitals -->
                <div class="container">
                    <div class="modal animated fadeIn" id="modal-report2">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog modal-lg vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                        <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 modal-desc">
                                            <span class="modal-text">Vitals</span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <div style="padding: 10px; font-size: 25px">
                                                <%= name %>
                                            </div>
                                            <input type="text" name="vitals" rows="8" cols="50" placeholder="Please enter vitals here" id="vitals-textarea"></input>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="btn btn-primary btn-vitals-next">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to enter symptoms -->
                <div class="container">
                    <div class="modal animated fadeIn" id="modal-report3">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog modal-lg vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                        <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 modal-desc">
                                            <span class="modal-text">Symptoms</span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <div style="padding: 10px; font-size: 25px">
                                                <%= name %>
                                            </div>
                                            <input name="symptoms" rows="8" cols="50" placeholder="Please enter symptoms here" id="symptoms-textarea"></input>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="btn btn-primary btn-symptoms-next">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to enter notes -->
                <div class="container">
                    <div class="modal animated fadeIn" id="modal-report4">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog modal-lg vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                        <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 modal-desc">
                                            <span class="modal-text">Notes</span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <div style="padding: 10px; font-size: 25px">
                                                <%= name %>
                                            </div>
                                            <input name="notes" rows="8" cols="50" placeholder="Please enter notes here" id="notes-textarea"></input>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="btn btn-primary btn-notes-next">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to review report -->
                <div class="container">
                    <div class="modal animated fadeIn" id="modal-report5">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog modal-lg vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                        <button type="button"  class="close" data-dismiss="modal">CANCEL</button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 modal-desc">
                                            <span class="modal-text">Review Report</span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <img src="<%= image %>" alt="">
                                            <div style="padding: 10px; font-size: 25px">
                                                <%= name %>
                                            </div>
                                            <ul id="report-vitals"></ul>
                                            <ul id="report-symptoms"></ul>
                                            <ul id="report-notes"></ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                      <input type="submit" value="Submit" id="submitreportbtn" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>




        </section>


        <% include partials/footer %>
