<% include partials/header %>

    <section>



        <!-- Modal for starting report -->
        <div class="container">
            <div class="modal fade" id="modal-report">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Report</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <img src="<%= image %>" alt="student picture">
                                    <div style="padding: 10px; font-size: 20px"><%= name %></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-report-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal to enter vitals -->
        <div class="container">
            <div class="modal fade" id="modal-report2">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Vitals</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px"><%= name %></div>
                                    <textarea autofocus name="vitals" rows="8" cols="50" placeholder="Please enter vitals here" id="vitals-textarea"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-vitals-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal to enter symptoms -->
        <div class="container">
            <div class="modal fade" id="modal-report3">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Symptoms</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px"><%= name %></div>
                                    <textarea autofocus name="symptoms" rows="8" cols="50" placeholder="Please enter symptoms here" id="symptoms-textarea"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-symptoms-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal to enter notes -->
        <div class="container">
            <div class="modal fade" id="modal-report4">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Notes</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div style="padding: 10px; font-size: 25px"><%= name %></div>
                                    <textarea autofocus name="notes" rows="8" cols="50" placeholder="Please enter notes here" id="notes-textarea"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-notes-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal to review report -->
        <div class="container">
            <div class="modal fade" id="modal-report5">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="" class="btn btn-default" data-dismiss="modal" style="border: none;">Back</a>
                                <button type="button" class="close" data-dismiss="modal">CANCEL</button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 modal-desc">
                                    <span class="modal-text">Review Report</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <img src="<%= image %>" alt="">
                                    <div style="padding: 10px; font-size: 25px"><%= name %></div>
                                    <h1>THIS WHERE U LOOK AT THE REPORT AND SHIT. YO THIS KID HAS LICE. DOCTOR WHAT DO WE DO. THIS KID IS GROSS AF!!!!!!</h1>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic ipsa ducimus eligendi sequi, ipsum maiores fuga esse, explicabo magnam nemo laboriosam harum voluptate optio perspiciatis laudantium pariatur. Repudiandae, labore.

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime natus molestias magni impedit voluptas omnis vitae corrupti explicabo recusandae similique labore saepe, doloremque fugiat mollitia architecto facere consectetur nulla. Numquam.

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus possimus esse impedit nemo, assumenda dolore voluptas quasi in natus asperiores, recusandae ex quisquam laborum minima dolor itaque. Labore, temporibus!
                                    <img src="https://media.tenor.co/images/1ea38c3d9fde615b3cdc0ecbdb36edf1/tenor.gif" alt="">
                                    <div style="padding: 10px; font-size: 25px">Sanderson, Sanic</div>
                                    <div style="padding: 10px; font-size: 16px">Report# BHAKL-8794FAKE</div>
                                    <h1>THIS WHERE U LOOK AT THE REPORT AND SHIT. YO THIS KID HAS LICE. DOCTOR WHAT DO WE DO. THIS KID IS GROSS AF!!!!!!</h1> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic ipsa ducimus eligendi sequi, ipsum maiores fuga esse, explicabo magnam nemo laboriosam harum voluptate optio perspiciatis laudantium pariatur. Repudiandae,
                                    labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime natus molestias magni impedit voluptas omnis vitae corrupti explicabo recusandae similique labore saepe, doloremque fugiat mollitia architecto
                                    facere consectetur nulla. Numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus possimus esse impedit nemo, assumenda dolore voluptas quasi in natus asperiores, recusandae ex quisquam laborum
                                    minima dolor itaque. Labore, temporibus!
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary btn-notes-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>


    <% include partials/footer %>
