<% include partials/header %>
    <section>
        <div class="opac">
            <div class="nav col-md-5">
                <nav>
                    <ul class="guardian-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Student Profile</a></li>
                        <li><a href="#">Add New Student</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content-container col-md-5">
                <form id="search">
                    <input type="search" id="search-keyword">
                    <input type="submit" value="Search">
                </form>
                <ul id="funny">
                    <p>My Students</p>
                    <li><a href="#">MY SON BLANKA</a></li>
                    <p><img src="<%=image%>"/></p>
                    <p>Name: <%= name %></p>
                    <p>DOB: <%= birthdate %></p>
                    <p>Guardian: <%= guardian %></p>
                    <p>Guardian Number: <%= guardian_number %></p>
                    <p>Guardian Email: <%= guardian_email %></p>
                    <p>Medical History: <%= medicalHistory %></p>
                    <p>Allergies: <%= allergies %></p>
                    <p>Immunizations: <%= immunizations %></p>
                    <h3>Reports</h3>
                    <% for (var i=0, x=reports.length; i<x; i++) { %>
                      <p class="report top">Date: <%= reports[i].date %></p>
                      <p class="report">Vitals: <%= reports[i].vitals %></p>
                      <p class="report">Symptoms: <%= reports[i].symptoms %></p>
                      <p class="report">Notes: <%= reports[i].call_notes %></p>
                    <% } %>
                    <li><a href="#">MY DAUGHTER CHUN LI</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <% include partials/footer %>
