<% include partials/header %>
    <section>
      <div class="opac">
      <div class="container">
        <div class="row">
            <nav class="nav col-md-4">
              <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                <div class="guardNav"><a href="#"><div class="navHover">Home</div></a></div>
                <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="guardNav" id="guardDrop"><div class="navHover">Student Profile<span class="caret arrow"></span></div></a>
                  <ul class="nav nav-stacked collapse left-submenu" id="item1">
                    <li class="subNav"><a href="#"><div class="navHover">Overview</div></a></li>
                    <li class="subNav"><a href="#"><div class="navHover">Medical History</div></a></li>
                    <li class="subNav"><a href="#"><div class="navHover">Reports</div></a></li>
                  </ul>
                <div class="guardNav guardNavBottom"><a href="#"><div class="navHover">Messages</div></a></div>
              </ul>
            </nav>
      <div class="content-container col-md-5">
      <p><img src="<%=image%>"/></p>
      <p class="guardian-profile">Name: <%= name %></p>
      <p class="guardian-profile">DOB: <%= birthdate %></p>
      <p class="guardian-profile">Guardian: <%= guardian %></p>
      <p class="guardian-profile">Guardian Number: <%= guardian_number %></p>
      <p class="guardian-profile">Guardian Email: <%= guardian_email %></p>
      <p class="guardian-profile">Medical History: <%= medicalHistory %></p>
      <p class="guardian-profile">Allergies: <%= allergies %></p>
      <p class="guardian-profile">Immunizations: <%= immunizations %></p>
      <h3>Reports</h3>
      <% for (var i=0, x=reports.length; i<x; i++) { %>
        <p class="guardian-report top">Date: <%= reports[i].date %></p>
        <p class="guardian-report">Vitals: <%= reports[i].vitals %></p>
        <p class="guardian-report">Symptoms: <%= reports[i].symptoms %></p>
        <p class="guardian-report">Notes: <%= reports[i].call_notes %></p>
        <p class="guardian-report bottom">Treatment Plan: <%= reports[i].treatment_plan %></p>
      <% } %>
    </div>
  </div>
  </div>
  </div>
    </section>

    <% include partials/footer %>
