
<% include partials/header %>
<script src="/javascripts/studentreportdata.js"></script>
<section>
<div class="opac">
<div class="container">
  <div class="row">
    <div class="nav col-md-4">
      <div class="optionsBox">
        <nav>
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
            <div class="guardNav"><a href="#"><div class="navHover">Home</div></a></div>
            <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="guardNav" id="guardDrop"><div class="navHover">Student Profile<span class="caret arrow"></span></div></a>
              <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li class="subNav"><a href="#"/><div class="navHover">Overview</div></a></li>
                <li class="subNav"><a href="#"/><div class="navHover">Medical History</div></a></li>
                <li class="subNav"><a href="/createreport/<%=id%>"/><div class="navHover">Create New Report</div></a></li>
              </ul>
            <div class="nurseNav nurseNavBottom"><a href="/deleteStudent/<%=id%>"><div class="navHover">Delete Student</div></a></div>
          </ul>
        </nav>
      </div>
    </div>
<div class="theReport">
  <div class="content-container col-md-5">
    <div class="student-name"><%= name %></div>
    <div></div>
    <div class="student-image"><img src="<%=image%>"/></div>
    <div class="report-info">Birthdate: <%= birthdate %></div>
    <div class="report-title">Parent/Guardian Contact</div>
    <div class="report-info"><span style="font-size: 20px;"><%= guardian %></span>
      <br>
      <br>Phone: <%= guardian_number %>
      <br>Email: <%= guardian_email %></div>
    <div class="report-title">History</div>
    <div class="report-info"><%= history %></div>
    <div class="report-title">Medications</div>
    <div class="report-info"><%= medications %></div>
    <div class="report-title">Allergies</div>
    <div class="report-info"><%= allergies %></div>
    <div class="report-title">Immunizations</div>
    <div class="report-info"><%= immunizations %></div>
    <% for (var i=0, x=reports.length; i<x; i++) { %>
     <p><a class="show-student-report" href="" id="<%= i %>"><%= reports[i].date %></a>
   <% } %>
   <p><a id="generate-report" href="/createreport/<%=id%>">Create New Report</a></p>

    </div>
  </div>
</div>
</div>
</div>

        <!-- The Modal -->
        <div class="modal animated fadeIn" id="myModal">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog modal-lg vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 modal-desc">
                                <span class="modal-text">Report</span>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <img src="<%= image %>" alt="student picture">
                                <div style="padding: 10px; font-size: 20px">
                                    <%= name %>
                                </div>
                                <div>
                                  <ul class="reportlist">

                                  </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

</section>
<% include partials/footer %>
