<% include partials/header %>
<section>
<div class="opac">
<div class="container">
  <div class="row">
    <div class="nav col-md-4">
      <div class="optionsBox">
        <nav>
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
            <div class="guardNav"><a href="#"><div class="navHover">Home</div></a></div>
            <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="guardNav" id="guardDrop"><div class="navHover">Student Profile<span class="caret arrow"></span></div></a>
              <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li class="subNav"><a href="#"/><div class="navHover">Overview</div></a></li>
                <li class="subNav"><a href="#"/><div class="navHover">Medical History</div></a></li>
                <li class="subNav"><a href="#"/><div class="navHover">Create New Report</div></a></li>
              </ul>
            <div class="nurseNav nurseNavBottom"><a href="#"><div class="navHover">Delete Student</div></a></div>
          </ul>
        </nav>
      </div>
    </div>
<div class="content-container col-md-5">
  <div class="student-name"><%= name %></div>
  <div></div>
  <div class="student-image"><img src="<%=image%>"/></div>
  <div class="student-report-info">Birthdate: <%= birthdate %></div>
  <div class="student-report-title">Parent/Guardian Contact</div>
  <div class="student-report-info"><span style="font-size: 20px;"><%= guardian %></span>
    <br>
    <br>Phone: <%= guardian_number %>
    <br>Email: <%= guardian_email %></div>
  <div class="student-report-title">Medical History</div>
  <div class="student-report-info"><%= medicalHistory %></div>
  <div class="student-report-title">Allergies</div>
  <div class="student-report-info"><%= allergies %></div>
  <div class="student-report-title">Immunizations</div>
  <div class="student-report-info"><%= immunizations %></div>
  <div class="student-report-title">Reports</div>

  <% for (var i=0, x=reports.length; i<x; i++) { %>
    <p class="report top">Date: <%= reports[i].date %></p>
    <p class="report">Vitals: <%= reports[i].vitals %></p>
    <p class="report">Symptoms: <%= reports[i].symptoms %></p>
    <p class="report">Notes: <%= reports[i].call_notes %></p>
    <p class="report bottom">Treatment Plan: <%= reports[i].treatment_plan %></p>
  <% } %>
  <p><a id="generate-report" href="/createreport/<%=id%>">Create New Report</a></p>
  </div>
</div>
</div>
</div>
</section>

<% include partials/footer %>
