
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul class="students">
      <% students.forEach(function(student, index){%>
        <li data-id="<%= students._id %>">
          <p><%= student.name %></p>
        </li>

      <% }); %>
    </ul>
  </body>
</html>
